<footer class="mt-auto bg-gray-100 text-lg font-medium text-gray-700 py-4 px-6 flex items-center justify-between shadow-lg">
    <p>© 2025 Anxo Campos Carballo - Todos los derechos reservados.</p>
    <div class="flex space-x-4">
        <a href="https://www.linkedin.com/in/anxo-campos-b6878a265/" target="_blank">
        <img src="linkedin_3536569.png" alt="linkedin" class="w-8 h-8 hover:scale-110 duration-200">
    </a>
    <a href="https://github.com/Anxo55" target="_blank">
        <img src="/github_5968896.png" alt="github" class="w-8 h-8 hover:scale-110 duration-300">
    </a>
    </div>
</footer>
