<nav class="flex items-center justify-between px-4 py-2 text-2xl font-medium">
    <h1 class="flex-1 text-left">CompraTu</h1>
  
    <div class="flex-1 flex justify-center space-x-6">
      <a [routerLink]="['/']">
        <p class="hover:text-gray-700">Inicio</p>
      </a>
      <a [routerLink]="['/productos']">
        <p class="hover:text-gray-700">Productos</p>
      </a>
      <a [routerLink]="['/categorias']">
        <p class="hover:text-gray-700">Categorías</p>
      </a>
    </div>
  
    <div class="flex-1 flex justify-end space-x-4">
        <a [routerLink]="['/login']">
            <button class="border-1 rounded-lg px-3 py-1 cursor-pointer">Iniciar sesión</button>
        </a>
        <a [routerLink]="['/register']">
            <button class="text-white bg-black rounded-lg px-3 py-1 cursor-pointer">Registrarse</button>
        </a>
    </div>
  </nav>
  