<nav class="flex items-center justify-between px-4 py-2 text-2xl font-medium">
  <h1 [routerLink]="['/']" class="flex-1 text-left cursor-pointer">CompraTu</h1>

  <div class="flex-1 flex justify-center space-x-6">
    <a [routerLink]="['/']">
      <p class="hover:text-gray-700 active:scale-90 duration-300">Inicio</p>
    </a>
    <a [routerLink]="['/productos']">
      <p class="hover:text-gray-700 active:scale-90 duration-300">Productos</p>
    </a>
    <a [routerLink]="['/categorias']">
      <p class="hover:text-gray-700 active:scale-90 duration-300">Categorías</p>
    </a>
  </div>

  <div class="flex-1 flex justify-end space-x-4">
    <ng-container *ngIf="!isLoggedIn; else loggedInTemplate">
      <a [routerLink]="['/login']">
        <button class="border-1 rounded-lg px-2 py-1 cursor-pointer hover:scale-105 active:scale-95 duration-300">Iniciar sesión</button>
      </a>
      <a [routerLink]="['/register']">
        <button class="text-white bg-black rounded-lg px-2 py-1 cursor-pointer hover:scale-105 active:scale-95 duration-300">Registrarse</button>
      </a>
    </ng-container>

    <ng-template #loggedInTemplate>
      <a [routerLink]="['/perfil']">
        <button class="bg-gray-200 text-black rounded-lg px-4 py-1 border-2 border-black cursor-pointer hover:bg-gray-300 hover:scale-105 active:scale-95 duration-300">Perfil</button>
      </a>
      <button (click)="logout()" class="text-white bg-red-600 rounded-lg border-2 border-black px-4 py-1 cursor-pointer hover:bg-red-700 hover:scale-105 active:scale-95 duration-300">Cerrar sesión</button>
    </ng-template>
  </div>
</nav>
