<div *ngIf="loading" class="text-center mt-10">
  <p>Cargando categorias...</p>
</div>

<div *ngIf="!loading && categorias.length === 0" class="text-center mt-10">
  <p>No hay productos disponibles.</p>
</div>

<div *ngIf="!loading && categorias.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
  <div *ngFor="let categoria of categorias" class="bg-white rounded-lg shadow-md p-4 text-center">
    <h3 class="text-3xl font-semibold m-4">{{ categoria.name }}</h3>
    <img [src]="categoria.imageUrl" alt="Imagen del producto"
         class="w-full h-64 object-cover rounded-md mb-4">

    <button [routerLink]="['/categoria', categoria.id]" class="mt-2 px-4 py-2 cursor-pointer bg-black text-white rounded-lg hover:bg-gray-800 hover:scale-105 active:scale-95 duration-300 transition">Ver más</button>
    
  </div>
</div>
