<div class="min-h-screen flex items-center justify-center py-10 flex-col">

    <h1 class="m-4 text-2xl font-medium">Contacta cualquier sugerencia</h1>
    <form action="" class="flex flex-col gap-4 justify-center items-center bg-gray-200 rounded-lg p-8 shadow-xl w-full max-w-md hover:shadow-2xl duration-300">
        <label for="" class="text-lg font-semibold">Email de contacto</label>
        <input type="email" name="email" id="email" placeholder="pepe@gmail.com" class="placeholder:text-gray-400 border-2 border-gray-400 rounded-lg p-2 w-full hover:scale-105 duration-200">
        <label for="reaclamaciones" class="text-lg font-semibold">Reaclamación</label>
        <textarea name="reclamaciones" id="reclamaciones" placeholder="Sugiero que..." class="placeholder:text-gray-400 border-2 border-gray-400 rounded-lg p-2 w-full hover:scale-105 duration-200"></textarea>
        <button class="bg-black text-white rounded-lg px-6 py-3 cursor-pointer hover:bg-gray-800 hover:scale-105 duration-300">Enviar reclamación</button>
    </form>

</div>